﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />    
    <title>Prova PPI 3</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />  

        @RenderSection("Estilos", false)
        @RenderSection("Estilos2", false)
</head>
<body>
    <header>
        <span>3391406364</span>
        <span>João André Gomes Domingos</span>

        <nav>
            <ul>
                <li>
                    <a href="~/Views/Contato/Contatos.cshtml">Cadastrar Contato</a>
                </li>
                <li>
                    <a href="~/Views/Contato/Pesquisa.cshtml">Pesquisar Contatos</a>
                </li>
            </ul>
        </nav>
    </header>
    @RenderBody()
    <footer>
        <div>
            Prova 05/04/2017
        </div>
    </footer>
    @RenderSection("Scripts",  false)
    @RenderSection("Scripts2", false)
</body>
</html>