﻿@section Estilos
{                  
<link href="~/Views/Contato/Estilo/Contato.css" rel="stylesheet" />
}
 

<h1>
    Etapa 1
</h1>

<form action="~/Views/Contato/Contato.cshtml" method="post">
    <label>Nome</label>
    <input type="text" name="nome" id="nome" value="" />
    <label>
        Data de Nasc
    </label>
    <input type="date" name="dtNasc" id="dtNasc"/>
    <label>E-mail</label>
    <input type="text" name="email" id="email" value="" />

    <input type="button" name="btn_Avancar" id="btn_Avancar" value="Salvar e Avançar" />

</form>