﻿<h1>
    Etapa 2
</h1>

<form action="~/Views/Contato/Telefone.cshtml" method="post">
    <label>Telefone</label>
    <input type="text" name="telefone" id="telefone" value="" />
    <input type="radio" name="radTelefone" id="radTelefone" value="Residencial" />
    <input type="radio" name="radTelefone" id="radTelefone" value="Comercial" />
    <input type="radio" name="radTelefone" id="radTelefone" value="Celular" />

    <input type="button" name="btn_Adicionar" id="btn_Adicionar" value="Adicionar" />
    <table>
        <tbody>
            <tr>
                <td>

                </td>
                <td>

                </td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <td>
                    Telefone
                </td>
                <td>
                    Tipo
                </td>
            </tr>
        </thead>
    </table>
</form>